.catalog-header .navbar{
    background-color: #111111;
    padding: 1rem 2rem;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    overflow: hidden;
    z-index: 1
}
.catalog-wrapper {
   min-height: 100vh;
}
.catalog-header2 .navbar{
    background-color: #111111;
    padding: 1rem 2rem;
    position:static;
    top:0;
    left:0;
    width: 100%;
    overflow: hidden;
    z-index: 1
}
.serach-input{
    min-width: 400px;
    width: 100%;
    border-radius: 0;
    color: #CFCFCF;
   }
   .navbar .nav-link{
    margin-left: 2rem;
   }
.cateogory-dropdown{
    position: absolute;
}
.search-ico{
    position: relative;
}
.search-ico img{
    position: absolute;
    right: 4%;
    bottom: 8px;
}
.equipment-sale{
    margin-top: 8rem;
}
.shimmercontainer{
    border: "0px solid rgba(255, 255, 255, 1)";
    box-shadow: "0px 0px 20px rgba(0, 0, 0, .1)";
    border-radius: "4px";
    background-color: "white";
    display: "flex";
    padding: "16px";
    width: "200px";
    height: 100vh;
}
.circle{
    /* height: "56px"; */
    width: "240px";
    border-radius: "50%";
}
.line{
    width: "96px";
    height: "8px";
    align-self: "center";
    margin-left: "16px";
    border-radius: "8px";
}
.address{
    color: #fff;
    column-gap: 3rem;
}
.buton-filter{
    display: none;
}
.address p{
    margin-bottom: 0;
}
.catalog-header{
    position: relative;
}
.tag-active{
    background-color: #F2C215;
    cursor: pointer;
    padding: 4px 18px;
    color: #111111;
    border: 1px solid #F2C215;
}
.img-button{
    cursor: pointer;
}

/*catalog leftcss*/
.sidebar{
    background-color: #F3F3F3;
    /* position: fixed; */
    top:17%;
    left: 0;
    bottom: 0;
    /* width: 320px; */
    padding: 2rem 1.8rem;
}
.form-check-input:focus{
    box-shadow: none;
}


.sidebar .nav-tabs .nav-link{
    border-bottom: 2px solid #ccc;
    width: 130px;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    color: #888888;

}
.sidebar .nav-link.active{
    border-bottom: 3px solid #000;
    background: none;
    color: #111111;
}
.tags .tag{
    border: 1px solid #888888;
    padding: 4px 18px;
    color: #888888;
    cursor: pointer;
}
.form-check-input:checked{
    background-color: #CFCFCF;
    border-color: #CFCFCF;
}
.tags .tag:hover{
    background-color: #F2C215;
    cursor: pointer;
    color: #111111;
    border: 1px solid #F2C215;
}
.filter{
    margin-bottom: 1rem;
    cursor: pointer;
}
.filter h4{
    color: #888888;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}
.filter img{
    width: 20px;
    margin-right: 1rem;
}
.clear-text{
    color: #F2C215;
    font-weight: 600;
    cursor: pointer;
}
.done-btn{
    color: #F2C215;
    border: 1px solid #F2C215;
    padding: 4px 34px;
    background: none;
    border-radius: 2px;
}
.infinite-scroll-component__outerdiv{
    height: 50%  !important;
}
.done-btn:hover{
    color: #fff;
    border: 1px solid #F2C215;
    padding: 4px 34px;
    background: #F2C215;
    border-radius: 2px;
}
.done-btn:active{
    color: #F2C215 !important;
    border: 1px solid #F2C215 !important;
    padding: 4px 34px;
    background: none !important;
    border-radius: 2px;
}
.socialLinks ul li{
    list-style: none;
    font-size: 12px;
  
    
}
.copy-btn{
    background-color: #F2C215;
    border-radius: 0;
    border: 0;
}
.socialLinks ul li img{
    margin-bottom: 4px;
}
.socialLinks ul{
    display: flex;
    column-gap: 1rem;
}
.catalog .top-accordion .accordion-button, .accordion-header, .accordion-item, .accordion-body{
    border: 0;
    padding: 4px 0px;
    background-color: #F3F3F3;
}
.menu-mobile{
    display: none;
}
.catalog .top-accordion .accordion-button{
    font-weight: 500;
    font-size: 19px;
}
.catalog .top-accordion .accordion-button:focus{
   box-shadow: none;
}
.top-accordion .accordion-body{
    /* padding: .6rem; */
    color: #888888;
}
.drawmenu-close {
   position: absolute;
   top: 41px;
   right: 41px;
   cursor: pointer;
   width: 22px;
   height: 22px;
}
.drawmenu-close::after,
.drawmenu-close::before {
   content: '';
   background-color: #ffffff;
   height: 2px;
   width: 28px;
   position: absolute;
   top: 11px;
   left: -3px;   
}
.drawmenu-close::after {
   transform: rotate(45deg);
}
.drawmenu-close::before {
   transform: rotate(-45deg);
}
.drawmenu-close img {
   width: 100%;
}
.drawmenu-tab{
   font-weight: 700;
   font-size: 32px;
   line-height: 46px;
   color: #fff;
   margin-bottom: 24px;
   transition: color .3s ease-in-out;
}
.drawmenu-tab:active,
.drawmenu-tab:hover{
    color: #F2C215;
}
.drawmenu-tab-yellow {
   color: #F2C215;
   display: flex;
   align-items: center;
   gap: 14px;
   margin-top: 48px;
}
.bgGrey{
    background-color: #F3F3F3;
}
.form-check-label{
    color: #888888;
}
.number{
    font-size: 12px;
    color: #F2C215;
}
.recent-btn{
    background-color: #F3F3F3;
    border: 0;
    border-radius: 0;
    color: #111111;
    width: 100%;
}
.recent-btn:hover {
    background-color: #F2C215 !important;
}
.recent-btn:active {
    background-color: #F2C215 !important;
}
.equip-tabs .nav-tabs .nav-link{
    border-bottom: 2px solid #ccc;
    border: 0;
    font-size: 18px;
    color: #888888;
}
.equip-tabs .nav-link.active{
    border-bottom: 5px solid #000;
    background: none;
    color: #111111;
    font-weight: bold;
    
}
.comparecross {
    position: "absolute";
    top: "-5%";
    left: "96.5%",
}
.equip-tabs .tags .tag{
    /* width: 90px; */
    width: fit-content;
    padding: 4px 12px!important;
}
.form-check-input[type=checkbox]{
    border-radius: 0;
}
.tagOther{
    width: 114px;
    padding: 4px 12px!important;
    border: 1px solid #888888;
    color: #888888;
    cursor: pointer;
}
.tagOther img{
    margin-left: 4px;
}
.tagOther:hover{background-color: #F2C215;}
.top-accordion .accordion-button:not(.collapsed){
    color: #111111;
}
.inner-accordion .accordion-button::after{
    background-image: url("/assets/images/addition.png")!important;
    width: 14px!important;
    height: 14px!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.top-accordion .accordion-button::after{
    background-image: url("/assets/images/arow.png");
    width: 12px;
    height: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.top-accordion .accordion-button:not(.collapsed)::after{
    background-image: url("/assets/images/arowdown.png");
    width: 12px;
    height: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotatex(20deg);
}
.inner-accordion .accordion-button, .accordion-header, .accordion-item, .accordion-body{
    padding: 2px 0px!important;
}
.inner-accordion .accordion-button:not(.collapsed)::after{
    background-image: url("/assets/images/minus.png")!important;
    width: 14px!important;
    height: 5px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotatex(20deg);
}
.inner-accordion .accordion-button
{
    color: #888888;
    font-size: 16px!important;
    font-weight: normal;
}
.equip-tabs .tags .tag img{
    margin-left: 8px;
}
.equip-tabs .card{
margin-bottom: 3rem;
border-color: #F3F3F3;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
width:699px;




}
.shop-btn{
    border: 1px solid #F2C215;
    color: #F2C215;
    background: none!important;
    border-radius: 0;
    font-weight: 600;
}
.shop-btn:hover{
    border: 1px solid #F2C215;
    color: #F2C215;
    background: none!important;
    border-radius: 0;
    font-weight: 600;
}
.shop-btn:active{
    border: 1px solid #F2C215;
    color: #F2C215;
    background: none!important;
    border-radius: 0;
    font-weight: 600;
}
input[type="range"]{
    width: 100%;
}
.height12{
   height: 120px; 
   overflow-y: scroll;
}
/* .equip-tabs .card:hover{
    border-top-width:10px;
    border:8px solid #F3D112;
    border-radius: 0;
    } */
.equip-tabs .card:hover{
    /* border-top-width:10px; */
    /* border:8px solid #F3D112; */
    /* border-radius: 0; */
    }
.card a:hover{
    color: #000;
}
.description{
    border-right: 1px solid #ccc;
    padding: 1rem;
}
.description p{
    margin-bottom: .1rem;
    font-size: 16px;    
    color: #888888;
}
.description .card-title{
    word-wrap: break-word;
    width: 160px;
}
.breadcrumb-item.active{
    color: #F29E1F;
}
.breadcrumb-item+.breadcrumb-item{
    color: #888888;
}
.call-btn{
    background-image:linear-gradient(#F3D112, #F29E1F);
    border:0;
    border-radius: 0;
    padding: 0.275em;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 174px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.45;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all .3s ease-in-out;  */
    color: #ffffff;
}
.call-btn:active{
    background-image:linear-gradient(#F3D112, #F29E1F);
    border:0;
    border-radius: 0;
    padding: 0.275em;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 174px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.45;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all .3s ease-in-out;  */
    color: #ffffff;
}
.call-btn:hover {
   background-color:#F3D112 !important;
   background-image: none !important;
   color: #ffffff !important;
}

.call-btn-outline{
    background: none;
    border: 1px solid #F3D112;
    color:  #F29E1F;
    /* border-color: linear-gradient(#F3D112, #F29E1F); */
    border-radius: 0;
    padding: 0.5rem 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 150px;
}
.call-btn-outline:hover{
   background: none !important;
   color: #F3D112 !important;
   border: 1px solid #F3D112 !important;
}
.call-btn-outline:active{
   background: none !important;
   color: #F3D112 !important;
   border: 1px solid #F3D112 !important;
}
.weight-input{
    width: 70% !important;
}
.filter-btn{
    border: 1px solid #888888;
    padding: 0.5rem 1.8rem;

    color: #888888;
    background-color: #fff!important;
    font-size: 16px;
    margin: 2rem 0rem;
}
.filter-btn:active{
    background-image:linear-gradient(#F3D112, #F29E1F);
    border:0;
    border-radius: 0;
    padding: 0.5rem 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.icon-links ul{
list-style: none;
display: flex;
column-gap: 10px;
}
.upperText{
    text-transform: uppercase;
    font-weight: bold;
    color: #888888;
}

.tag-inner-flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
.tag-inner-flex .tag1 {
    position: relative !important;
    left: initial !important;
    right: initial !important;
    top: initial !important;
    bottom: initial !important;
    margin-right: 15px;
    cursor: pointer;
}
.tag-inner-flex .tag2 {
    position: relative !important;
    left: initial !important;
    right: initial ! ;
    top: initial !important;
    bottom: initial !important;
    margin-right: 15px;
    cursor: pointer;
}
.tag-inner-flex .tag3 {
    position: relative !important;
    left: initial !important;
    right: initial !important;
    top: initial !important;
    bottom: initial !important;
    cursor: pointer;
}
.tag-inner{
    position: relative;
}
.tag-inner .tag1{
    position: absolute;
    background-color:#F2C215;
    padding: 0 3px;
    left: 8px;
    bottom: 206px;

    font-size: 16px;
    color: #111111;
    font-weight: bold;
    border-radius: 3px;
}
.tag-inner .tag2{
    position: absolute;
    background-color: #888888;
    bottom: 10px;
    left: 8px;
    padding: 0 3px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;

}
.catalog-modal{
    background-color: #fff!important;
}
.products .card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #ccc;
}
.close-ico{
    position: relative;
}
.close-ico img{
    position: absolute;
    bottom: 210px;
    right: -47px;
}
.modal-table{
    margin-top: 2rem;
}
.modal-table table tbody tr td:first-child{
}
.modal-table table tbody tr td{
    padding: 1.2rem 0.5rem!important
}
.compare-div{
    background-color: #fff;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mobileview-menu{
    display: none;
}
.card-body {
   
}