.sale-tag{
    background-color:#F2C215;
    padding: 0 3px;
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    border-radius: 3px;}
.catalog-details{
    margin: 0px auto;
    width: 80%;
}
.product-specify{
    margin-top: 1rem;
}
.card-content{
    flex-direction: row !important;
}
.product-specify img{
    width: 82px;
}
.read-or-hide{
    color: #F2C215;
    cursor: pointer;
}
.catalog-details p .text{
    color: #111111;
    font-size: 1.2rem;
    font-weight: 500;
}
.inner-col label{
    color: #888888;
    font-size: 18px;
    display: block;
    margin-bottom: .2rem;
}
.inner-col span{
    color: #111111;
    font-weight: bold;

}
.specification{
    margin-top: 4rem;
}
.recommend{
    /* background-color: #f3f3f3; */
}
.catalog-details .card-content{
    flex-direction: row;
}
.catalog-details .card-title{
    font-size: 16px;
    margin-top: 1rem;
}
.catalog-details .tag-inner .tag1 {
    bottom: 126px;
}
.tag3{
    position: absolute;
    right: 2%;
    bottom: 121px;
}
.tag3 img{
    width: 30px;
}
.catalog-details p{
    margin-bottom: .1rem;
    color: #888888;
}
.tag-add{
    bottom: 71px;
    left: 118px;
    padding: 0 3px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.tag-add img{
    width: 30px;

}
.specification table tbody tr td:first-child{
    width: 40%;
}
.specification table tbody tr table td{
    padding: 1.2rem 0.5rem
}
.slick-list {
   margin: 0 -8px 0 0;
   overflow: hidden;
}
.slider img{
    width: 95%;
}
.slick-slide {
   padding-right: 8px;
}
.inner-tags{
    position: relative;
}
 .catalog-details .tag-inner .tag1{
	 position: absolute;
	 background-color: #888888;
	 padding: 0 8px;
	 left: 15px;
	 top: 20px;
	 text-align: center;
	 z-index: 1;
	 width: 84px;
     bottom: auto;
	 font-size: 16px;
	 color: #fff;
	 font-weight: 500;
	 border-radius: 4px;
}
.inner-image{
    position: absolute;
    bottom: 12px;
    left: 11px;
}
.inner-image2{
    position: absolute;
    bottom: 12px;
    right: 11px;
}
.compare-btn{
    background-color: #F2C215;
    border: 1px solid #F2C215;
    width: 50%;
    color: #fff;
}
.cancel-btn{
    background-color: #fff;
    border: 1px solid #F2C215;
    width: 50%;
    color: #F2C215;
}
.close-btn{
    position: relative;
}
.close-btn img{
    position: absolute;
    bottom: 94px;
    right: -23px;
}