.footer{
    background-color: #000;
    color: #fff;    
    z-index: 1;
    position: relative;
}
.footer-container {
   display: flex;
   justify-content: space-between;
   padding: 85px 48px;
   gap: 64px;   
}
.footer-copyright {
   display: flex;
   flex-direction: column;
   gap: 35px 16px;
}
.footer-img {
   height: 90px;
}
.footer-img img {
   height: 100%;
}
.footer-address {
   margin-right: 16px;

}
.footer-address p:not(:last-child) {
   margin: 0;
}
.footer-address p:last-child {
   margin: 23px 0 0;
}

@media (max-width: 767px) {
   .footer-container {
      flex-direction: column-reverse;
      padding: 64px 32px;
   }
   
   .footer-copyright {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
   }
   
   .footer-img {
      height: 70px;
   }
}