.landing-page {
    position: relative;
}
.bg-image{
    background-image: url("/assets/images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.mobilebg-image{
    display: none;
}
.mobilebrand-bg{
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.upper-text{
    position: absolute;
    top: 10%;
    left: 8%;
    color: #fff;
}
.about h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem;
}
.jcb-image img{
    width: 535px;
}
.jcb-image{
    position: relative;
    top: -126px;
    left: 168px;
}
.about p{
    font-size: 20px;
}
.part-text{
    background: linear-gradient(90deg, #F3D112 0%, #F29E1F 100%);
    padding: 4rem;
}
.part-text p{
    font-size: 32px;
    color: #fff;
    padding: 0rem 4rem;
    margin-bottom: 0;
}
.logistic h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem;
}
.logistic-content p{
    font-size: 20px;
}
.brand-bg{
    background-image: url("/assets/images/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 39vh;
    margin-top: 6rem;
}
.brand-bg p{
    font-size: 32px;
    color: #fff;
    padding: 6rem;
}
.equipment h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem;
}
.equip-content {
    width: 780px;
    margin: 0px auto;
    font-size: 22px;

}
.brands h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem;
}
.brand-content p{
    width: 780px;
    margin: 0px auto;
    font-size: 22px;
    margin-top: 1rem;

}
.brand-name{
    margin-top: 3rem;
}
.service-bg{
    background-image: url("/assets/images/bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 41vh;
    margin-top: 6rem;
   
}
.mobileservice-bg{
    display: none;
}
.service-bg p{
    font-size: 32px;
    color: #fff;
    padding: 5rem;}
.customer-list h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem; 
}
.price h3{
    border-bottom: 3px solid #F3D112;
    margin-top: 4rem; 
}
.btn-contact{
    background: linear-gradient(90deg, #F3D112 0%, #F29E1F 100%);
    border: 0;
    border-radius: 0;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 250px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}