@media (min-width: 760px) and (max-width: 992px) {
    /* .bg-image {
        background-size: contain;
        height: 25vh;}
  } */
  .mobile-sidebar{
    display: none;
  }
  .mobileview-menu{
        background-color: #fff;
        padding: 2rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
        z-index: 1;
    }
    .mobileview-menu .d-flex{
        justify-content: space-around;
    }
}
  @media (min-width: 1500px) and (max-width: 1920px) {
    .bgGrey{
        height: 100%;
    }
   .sidebar{
    /* width: 463px!important; */
   }
    }
 @media (min-width: 992px){ /*min-width: 1250px */
    .sidebar{
    background-color: #F3F3F3;
    position: fixed;
    top:9%;
    left: 0;
    bottom: 0;
    /* width: 320px; */
    padding: 2rem 1.8rem;
}
.comparecross {
    position: "absolute"!important;
    top: "-5%"!important;
    left: "97.5%"!important;
}
}
@media (min-width: 2250px){
    .sidebar{
    background-color: #F3F3F3;
    position: fixed;
    top:7%;
    left: 0;
    bottom: 0;
    /* width: 320px; */
    padding: 2rem 1.8rem;
}
.comparecross {
    position: "absolute"  !important;
    top: "-5%" !important;
    left: "98.5%" !important;
}
}
/*Extra Small breakpoints*/
@media (max-width: 575px) {
    .menu-mobile{
        display: block;
    }
    .mobilebg-image{
        background-image: url("/assets/images/hero2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 57vh;
        display: block;
    }
    .upper-text{
        position: absolute;
        top: 4%;
        left: 8%;
        color: #fff;
    }
    .bg-image{
        display: none;
    }
    .upper-text h4{
        font-size: 30px;
    }
    .about{
        margin-bottom: 0;
    }
    .jcb-image{
        display: none!important;
    }
    .logistic img{
        width: 100%;
    }
    .logistic p{
        margin-top: 1rem;
    }
    .buton-filter{
        display: block;
    }
    .mobile-sidebar{
        display: none;
    }
    .brand-name{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .equip-tabs .card {
        width: 307px!important;
    }
    .equip-tabs .card a{
        flex-direction: column;
    }
    .equip-content{
        width: 370px;
    }
    .brand-content p{
        width: 370px;
    }
    
    .mobilebrand-bg{
        background-image: url("/assets/images/bg11.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 46vh;
        margin-top: 2rem;
        display: block;
    }
    .part-text p{
        padding: 0;
    }
    .btn-contact{
        width: 100%;
        margin-bottom: 2rem;
    }
    .mobileservice-bg{
        background-image: url("/assets/images/bg22.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 74vh;
        margin-top: 6rem;
        display: block;
       
    }
    .service-bg{
        display: none;
    }
    .mobileservice-bg p{
        font-size: 28px;
        color: #fff;
        padding: 5rem;}
    .mobilebrand-bg p{
        font-size: 28px;
        color: #fff;
        padding: 6rem;
    }
    .brand-bg{
        display: none;
    }
    .equipment-sale{
        margin-top: 2rem;
    }
    .recent-btn{
        width: 100%;
    }    
    .socialLinks{
        margin-left: -36px;
        margin-top: 20px;
    }
    .icon-links ul{
        margin-left: -25px;
    }
    .card-content-mobile{
        flex-direction: column !important;
    }
    .tags{
        flex-direction: row;
    }
    .mobileview-menu{
        background-color: #fff;
        padding: 2rem;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
        z-index: 1;
    }
    .mobileview-menu .d-flex{
        justify-content: space-around;
    }

}
@media (min-width: 576px) and (max-width: 767px) {
    .menu-mobile{
        display: block;
    }
    .bgGrey{
        display: none;
    }
   
}
@media (min-width: 1920px) and (max-width: 2500px) {
    .sidebar{
        /* width: 570px!important; */
    }
   
}
